/* 
***********************
index.html styling page 
***********************
*/

/* Google Fonts CSS */
.dm-serif-text-regular {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
}
  
.dm-serif-text-regular-italic {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
}

.cabin-font {
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

/* 
***********************
CSS Variables - Color Palette
***********************
white - #FFFFFF
Deep Dark BlueGreen - #00171F
Dark Ocean Blue - #003459
Dark Seafoam - #007EA7
Light Sky Blue Foam - #00A8E8
*/
:root{
    --DeepDarkBlueGreen: #00171F;
    --DarkOceanBlue: #003459;
    --DarkSeafoam: #007EA7;
    --LightSkyBlueFoam: #00A8E8;
    --DarkOceanBlueFaded: #003459ed;
}

/* 
***************
Media Queries Breakpoints for Responsive Design
***************
*/

/* Mobile */
@media only screen and (max-width: 600px){
    /* 
    ***********************
    Header Section
    ***********************
    */
    header > h1{
        font-size: 2.5em;
    }

    header > span{
        font-size: 1.1em;
    }

    .bigScreenNav{
        display: none;
    }
    /* 
    ***********************
    Article/Main Section
    ***********************
    */

    /* Section One */
    #globeImg{
        width: 80%;
    }

    #sectionOneHeaderContainer > p{
        font-size: 2.5em;
    }

    #sectionOneHeaderContainer > h2{
        font-size: 3.5em;
    }

    .homeFigcaptions{
        font-size: 1.1em;
    }

    article > h3{
        font-size: 2.5em;
    }

    article > h4{
        font-size: 2.5em;
    }
    
    article > p{
        margin-left: 7%;
        margin-right: 7%;
        font-size: 1.5em;
    }
    
    /* Section Two */
    div > h5{
        font-size: 4em;
    }

    .sectionTwoGrid{
        grid-template-columns: auto;
    }

    .gridCards{
        padding: 5%;
        margin: 5%;
        margin-left: 8%;
        margin-right: 8%;
    }

    .cardText{
        font-size: 1.6em;
    }

    /* Section Three */
    .sectionThreeLists{
        font-size: 1.4em;
    }

    article > h6{
        font-size: 3em;
    }

    /* Other Articles Section */
    .otherHeader{
        font-size: 3em;
    }

    .cardTextOther{
        font-size: 1.8em;
    }

    .sectionFourGrid{
        grid-template-columns: auto;
        margin-left: 2%;
        margin-right: 2%;
        gap: 3%;
    }

    /* Footer Section */
    .footerSection{
        margin-top: 25%;
    }

    #footerHeader{
        margin: 0;
        padding: 0;
        font-size: 3em;
    }

    #footerSubHeader{
        margin: 0;
        padding: 0;
        font-size: 1.2em;
    }

    .footerGrid{
        grid-template-columns: auto;
    }

    .footerGridItem{
        padding: 2%;
    }

    .footerGridHeader{
        font-size: 1.7em;
    }

    .footerListItems{
        font-size: 1.3em;
    }

    .footerLinks{
        font-size: 1.3em;
    }
}

/* Tablet */
@media only screen and (min-width: 600px){
    /* 
    ***********************
    Header Section
    ***********************
    */
    header > h1{
        font-size: 3.5em;
    }

    header > span{
        font-size: 1.5em;
    }

    .bigScreenNav{
        display: none;
    }

    /* 
    ***********************
    Article/Main Section
    ***********************
    */

    /* Section One */
    #globeImg{
        width: 50%;
    }

    #sectionOneHeaderContainer > p{
        font-size: 3em;
    }

    #sectionOneHeaderContainer > h2{
        font-size: 4em;
    }

    .homeFigcaptions{
        font-size: 1.5em;
    }

    article > h3{
        font-size: 4em;
    }

    article > h4{
        font-size: 4em;
    }
    
    article > p{
        margin-left: 10%;
        margin-right: 10%;
        font-size: 2em;
    }

    /* Section Two */
    div > h5{
        font-size: 5em;
    }

    .sectionTwoGrid{
        grid-template-columns: auto auto;
    }

    .gridCards{
        padding: 5%;
        margin: 5%;
        margin-left: 8%;
        margin-right: 8%;
    }

    .cardText{
        font-size: 1.8em;
    }

    /* Section Three */
    .sectionThreeLists{
        font-size: 2em;
    }

    article > h6{
        font-size: 4.5em;
    }

    /* Other Articles Section */
    .otherHeader{
        font-size: 3em;
    }

    .cardTextOther{
        font-size: 1.4em;
    }

    .sectionFourGrid{
        grid-template-columns: auto auto auto;
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: 5%;
        gap: 3%;
    }

    /* Footer Section */

    #footerHeader{
        margin: 0;
        padding: 0;
        font-size: 4em;
    }

    #footerSubHeader{
        margin: 0;
        padding: 0;
        font-size: 1.5em;
    }

    .footerGrid{
        grid-template-columns: auto auto;
    }

    .footerGridItem{
        padding: 2%;
    }

    .footerGridHeader{
        font-size: 1.8em;
    }

    .footerListItems{
        font-size: 1.5em;
    }

    .footerLinks{
        font-size: 1.5em;
    }
}

/* Desktop */
@media only screen and (min-width: 1030px){
    /* 
    ***********************
    Header Section
    ***********************
    */
    .headerBar{
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }

    header > div > div > h1{
        display: inline;
        padding-right: 15px;
        font-size: 4em;
    }

    header > div > div > span{
        font-size: 1.5em;
    }

    .bigScreenNav{
        display: flex;
        gap: 50px;
    }

    .bigScreenNavLinks{
        text-decoration: none;
        color: #ffffff;
        font-size: 2em;
        font-family: "DM Serif Text", serif;
    }

    .bigScreenNavLinks:hover{
        text-decoration: underline;
        text-shadow: 1px 1px 3px var(--DarkOceanBlue);
    }

    .bigScreenNavLinks:active{
        text-decoration: none;
        color: var(--DeepDarkBlueGreen);
    }

    #sidebarButton{
        display: none;
    }

    /* 
    ***********************
    Article/Main Section
    ***********************
    */

    /* Section One */
    #globeImg{
        width: 60%;
    }

    #sectionOneHeaderContainer > p{
        font-size: 4em;
    }

    #sectionOneHeaderContainer > h2{
        font-size: 6em;
    }

    .homeFigcaptions{
        font-size: 1.8em;
    }

    article > h3{
        font-size: 5em;
    }

    article > h4{
        font-size: 5em;
    }
    
    article > p{
        margin-left: 14%;
        margin-right: 14%;
        font-size: 2.2em;
    }

    /* Images */
    .articleImg{
        width: 60%;
    }

    /* Section Two */
    div > h5{
        font-size: 6em;
    }

    .sectionTwoGrid{
        grid-template-columns: auto auto auto;
    }

    .gridCards{
        padding: 8%;
        margin: 5%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .cardText{
        font-size: 2em;
    }

    /* Section Three */
    .sectionThreeLists{
        font-size: 2.2em;
    }

    article > h6{
        font-size: 6em;
    }

    .sectionFourGrid{
        grid-template-columns: auto auto auto;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 5%;
        gap: 5%;
    }

    .cardTextOther{
        font-size: 2em;
    }

    /* Footer Section */

    #footerHeader{
        margin: 0;
        padding: 0;
        font-size: 4em;
    }

    #footerSubHeader{
        margin: 0;
        padding: 0;
        font-size: 1.5em;
    }

    .footerGrid{
        grid-template-columns: auto auto;
    }

    .footerGridItem{
        padding: 5%;
    }

    /* .footerSiteList{
        margin-right: 50%;
    } */

    .footerGridHeader{
        font-size: 1.5em;
    }

    .footerListItems{
        font-size: 1.5em;
    }

    .footerLinks{
        font-size: 1.5em;
    }
}

/* 
***********************
Header Section
***********************
*/
header{
    background-color: var(--DarkSeafoam);
    box-shadow: 1px 1px 8px #000000ce;
}

header > div > div > h1{
    color: #ffffff;
    font-family: "Cabin", sans-serif;
}

header > div > div > span{
    font-family: "DM Serif Text", serif;
    color: #ffffff;
    display: inline-block;
    padding-bottom: 5px;
}

nav > div > ul{
    font-family: "DM Serif Text", serif;
    list-style-type: none;
    padding: 0;
}

nav > div > ul > li{
    padding-bottom: 5%;
    font-size: 1.5em;
}

#mySidebar{
    text-align: center;
    background-color: var(--DarkOceanBlueFaded);
    color: #ffffff;
    z-index: 3;
}

#sidebarButton{
    margin-top: 4%;
    border-radius: 5px;
}

#signupBtn{
    margin-top: 5%;
    background-color: var(--LightSkyBlueFoam);
    color: #000000;
}

#closeBtn{
    text-align: right;
}

/* 
***********************
Article/Main Section
***********************
*/

#globeImgContainer{
    position: relative;
    text-align: center;
    z-index: 1;
}

#sectionOneHeaderContainer{
    background-color: var(--DarkOceanBlue);
    color: #ffffff;
    z-index: 2;
}

#sectionOneHeaderContainer > p{
    text-align: center;
    font-family: "DM Serif Text", serif;
}

#sectionOneHeaderContainer > h2{
    text-align: center;
    font-family: "DM Serif Text", serif;
}

/* Images & Captions */
.homeFigcaptions{
    font-family: "DM Serif Text", serif;
    text-align: center;
}

figcaption > a:link{
    color: var(--DarkSeafoam);
}

figcaption > a:visited{
    color: #51027f;
}

figcaption > a:hover{
    color: var(--DarkOceanBlue);
}

figcaption > a:active{
    color: blue;
}

.lineBreak{
    width: 70%;
    margin: 0 auto;
    border: 2px solid var(--DarkOceanBlue);
}

/* General Links CSS */

p > a:link{
    color: var(--DarkSeafoam);
}

p > a:visited{
    color: #51027f;
}

p > a:hover{
    color: var(--DarkOceanBlue);
}

p > a:active{
    color: blue;
}

span > a:link{
    color: var(--DarkSeafoam);
}

span > a:visited{
    color: #51027f;
}

span > a:hover{
    color: var(--DarkOceanBlue);
}

span > a:active{
    color: blue;
}

/* Section One */
article > h3{
    font-family: "Cabin", sans-serif;
    text-align: center;
}

article > h4{
    font-family: "Cabin", sans-serif;
    text-align: center;
}

article > p{
    line-height: 1.6;
    font-family: "DM Serif Text", serif;
}

/* Section Two */
.sectionTwoContainer{
    margin-top: 7%;
    margin-bottom: 7%;
    background-color: var(--DeepDarkBlueGreen);
    height: auto;
}

div > h5{
    font-family: "Cabin", sans-serif;
    text-align: center;
    color: #ffffff;
}

.cardText{
    line-height: 1.5;
    font-family: "DM Serif Text", serif;
}

.cardTextSource{
    font-family: "DM Serif Text", serif;
    font-size: 1.1em;
}

/* Section Three */
.sectionThreeLists{
    font-family: "Cabin", sans-serif;
}

article > h6{
    font-family: "Cabin", sans-serif;
    text-align: center;
}

/* Other Articles Section */
.otherHeader{
    font-family: "Cabin", sans-serif;
}

.cardTextOther{
    font-family: "DM Serif Text", serif;
}

/* Footer Section */
.footerSection{
    background-color: #545454;
}

#footerHeader{
    font-family: "Cabin", sans-serif;
}

#footerSubHeader{
    font-family: "DM Serif Text", serif;
}

.footerGridHeader{
    font-family: "DM Serif Text", serif;
}

.footerSiteList{
    list-style: none;
}

.footerListItems{
    font-family: "DM Serif Text", serif;
}

.footerLinks{
    text-decoration: none;
    font-family: "DM Serif Text", serif;
    color: #ffffff;
}

.footerLinks:hover{
    text-decoration: underline;
    text-shadow: 1px 1px 3px #000000;
}